body {
    text-align:center; 
    background-color: ffffff; 
    color:green;
    background-image: bop.png;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: size 100px ;
    padding: 10px;
    margin: 5px;
    
   }
h2 {
    text-align: left;
    border: 2px solid gray; 
    }
p1 {font-size: 19px;}
p2 {
    font-size: 19px;
/* a:link {
    color:blueviolet;
    border: 2px solid black;
}
a: menu {
    co
}
a:hover {
    color:green;
    background-color: bisque;
    text-decoration: overline; */
/* }
table ,th ,td{
    border: 3px solid black;
    border-collapse:collapse;
    background-color: rgb(187, 206, 187);
    
    

}
th,td {
    padding: 15px;
} */
